@charset 'utf-8';

@import 'settings';
@import 'variables';

body {
    overflow: hidden;
}

header {
    height: 4rem;
    background: $squizzcolor;
    border-bottom: 1px solid black;
    .header, .header>.grid-x {
        height: 100%;
    }
    .nav-title {
        background-color: #00a0e3;
        width: 250px !important;
//        border-right: 1px solid #000;
        display: flex;
        align-items: center;
        text-align: center;
        @include breakpoint(large) {
            padding-right: .9375rem;
            padding-left: .9375rem;
        }
        img {
            max-height: calc(4rem - 2px);
            margin: 0 auto;
        }
    }
    .nav-search {
        display: flex;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
        .input-group {
            margin-bottom: 0;
            width: 450px;
        }
//        input {
//            display: inline-block;
//            margin-bottom: 0px;
//        }
//        a {
//            margin-bottom: 0px;
//        }
    }
    .nav-user {
        display: flex;
        align-items: center;
        padding-right: 1rem;
        a {
            margin-bottom: 0;
            img {
                max-height: 2.5rem;
                max-width: 2.5rem;
                border-radius: 2rem;
            }
        }
    }
}

.nav-icon-bar {
    .menu {
        a {
            color: white;
            text-shadow: 1px 1px 1px rgba(0,0,0,0.25);
        }
        li[role="menuitem"] {
            position: relative;
            border-right: 1px solid #cecece;
            &:hover {
                background: rgba(255,255,255,0.1);
            }
        }
    }
}

.content-header {
    @include breakpoint(large) {
        height: 5rem;
    }
    border-bottom: 1px solid #cecece;
    .cell-header {
        width: 250px;
        border-right: 1px solid #cecece;
        background: #4f75cc;
        color: #fafafa;
    }
    .cell-body-header {
        background: #6b6974;
        color: #fafafa;
    }
    .cell {
        display: flex;
        align-items: center;
        p {
            margin-bottom: 0;
        }
    }
}

.content-body {
    .cell {
        &.full-height {
            height: 100%;
        }
    }
    .cell-menu {
        @include breakpoint(large) {
            height: 100vh;
            width: 250px;
            border-right: 1px solid #cecece;
        }
    }
}

.main-content {
    .main-content-grid {
        @include breakpoint(large) {
            height: calc(100vh - 4rem);
        }
        >.cell {
            &:not(:last-child) {
                border-right: 1px solid #cecece;
            }
            &.full-height {
                height:100%;
            }
            .section-header {
                @include breakpoint(large) {
                    height: 4rem;
                }
                .grid-x {
                    width: 100%;
                    height: 100%;
                    .cell {
                        display: flex;
                        align-items: center;
                        padding: 1rem;
                    }
                }
                
                h2 {
                    margin-bottom: 0;
                    font-size: 80%;
                    font-weight: normal;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                }
                .button.section-close {
                    background: #ce4444;
                    color: #fff;
                    border-radius: 5rem;
                    margin-bottom: 0;
                    padding: 0.5rem;
                    width: 2rem;
                }
                border-bottom: 1px solid #cecece;
            }
        }
    }
}

.admin-panel-cell {
    width: 250px;
    .section-header {
        background: #333;
        color: #fff;
    }
    .section-body {
        height: calc(100% - 4rem);
        background: #333;
        .vertical.menu.accordion-menu {
            border-bottom: 1px solid #cecece;
            //first tier only
            >li {
                >a {
                    color: $white;
                    text-shadow: 1px 1px black;
                    i {
                    }
                    &:hover {
                        color: #ddd;
                    }
                }
                >.submenu-toggle {
                    &:after {
                        border-color: $white transparent transparent;
                    }
                }
            }
            li {
                border-top: 1px solid #cecece;
                border-left: 0px;
                border-right: 0px;
                &:not(:last-child) {
                    border-bottom: 0px;
                }
                &:first-child {
                    border-top: 0px;
                }
                .is-submenu-item:first-child {
                    border-top: 1px solid #cecece;
                }
                &:hover {
                    >.submenu-toggle[aria-expanded="false"] {
                        &:not(:hover) {
                            &:after {
                                border-bottom-width: 6px;
                                border-color: transparent transparent transparent $white;
                                border-right-width: 0;
                                border-left-style: solid;
                            }
                        }
                    }
                }
                &.personal-notification:not(.organisation-notification) {
                    border-left: 4px solid #F6FD07;
                    >a {
                        border-left: 1px solid #cecece;
                    }
                }
                &.organisation-notification:not(.personal-notification) {
                    border-left: 4px solid #0723fd;
                    >a {
                        border-left: 1px solid #cecece;
                    }
                }
                &.organisation-notification.personal-notification {
                    border-left: 4px solid #F6FD07;
                    >a {
                        border-left: 4px solid #0723fd;
                    }
                }
            }
        }
        .is-accordion-submenu-parent.has-submenu-toggle {
            >a {
            }
            >.submenu-toggle {
                border-left: 1px solid #cecece;
            }
            .menu.nested {
                margin-left: 0;
                li {
                    &:last-child {
                        border-bottom: 0px;
                    }
                }
            }
        }
        
        .submenu {
            border-top: 2px solid $squizzcolor;
            li:hover>.submenu-toggle[aria-expanded="false"]:not(:hover):after {
                border-color: transparent transparent transparent #333 !important;
            }
            .submenu-toggle {
                &:after {
                    border-color: #333 transparent transparent;
                }
            }

            .is-submenu-item {
                //tier-1 bg
                background: $white;
                a {
                    color: #333;
                }
//                >.submenu-toggle {
//                        &:after {
//                            border-color: #fafafa transparent transparent;
//                        }
//                    &[aria-expanded="false"] {
//                            &:after {
//                                color: #fafafa;
//                            }
//                    }
//                }
            }
            .submenu {
                border-top: 1px solid $squizzcolor;
                border-bottom: 1px solid $squizzcolor;
                .is-submenu-item {
                    //tier-2 bg
                    background: #eee;
                    a {
                        color: #333;
                    }
                }
                .submenu {
                    .is-submenu-item {
                        //tier-3 bg
                        background: #ddd;
                        a {
                            color: #333;
                        }
                    }
                    .submenu {
                        .is-submenu-item {
                            //tier-4 bg
                            background: $white;
                            a {
                                color: #333;
                            }
                        }
                    }
                }
            }
        }
    }
}
    
.conversation-cell {
    width: 100%;
    min-width: 600px;
    .section-header {
        background: #0091ce;
        color: $white;
    }
    .section-body {
        height: calc(100% - 4rem);
        >.grid-x {
            height: 100%;
            >.cell:not(:last-child) {
                border-right: 1px solid #cecece;
            }
        }
        .conversation-messages {
            height: calc(100% - 5rem - 5rem);
        }
    }
}   

.conversations-cell {
    max-width: 450px;
    min-width: 300px;
    .section-header {
        background: #0091ce;
        color: $white;
    }
    .section-body {
        height: calc(100% - 4rem);
    }
}