@charset 'utf-8';

@import 'settings';
@import 'variables';


header {
    height: 4rem;
    background: #bbb;
    .header, .header>.grid-x {
        height: 100%;
    }
    .nav-title {
        background-color: #00a0e3;
        width: 250px !important;
        border-right: 1px solid #cecece;
        display: flex;
        align-items: center;
        text-align: center;
        @include breakpoint(large) {
            padding-right: .9375rem;
            padding-left: .9375rem;
        }
        img {
            max-height: calc(4rem - 2px);
            margin: 0 auto;
        }
    }
    .nav-search {
        display: flex;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
        input {
            display: inline-block;
            margin-bottom: 0px;
        }
        a {
            margin-bottom: 0px;
        }
    }
}

.nav-icon-bar {
    .menu {
        a {
            color: white;
            text-shadow: 1px 1px 1px rgba(0,0,0,0.25);
        }
        li[role="menuitem"] {
            position: relative;
            border-right: 1px solid #cecece;
            &:hover {
                background: rgba(255,255,255,0.1);
            }
        }
    }
}